
<html lang="en">
  
  <head>
    <meta charset="UTF-8">
   
  </head>

  <body>

  <div class="kanu">

    Hi! <br /> 
    Welcome to our site! <br /> 
    Our site is designed to help vegans share grocery list, recipies and other interesting snippets about vegan life<br /> 
    Follow other users and discover new recipes, bloggers and make new friends.<br />  
      <a href="http://vegangrocerylist.com">VeganGroceryList.com</a>.<br />
    <a href="https://twitter.com/vegangrocerylist">@vegangrocerylist</a> on Twitter.<br />
    

  </div>

  </body>
  
</html>