<%provide(:title, "About")%>
<html lang="en">
  
  <head>
    <meta charset="UTF-8">
   
  </head>

  <body>

  <div class="kanu">

    Hi, We're John, Phil, Kate and Banjo.<br /> 
    Welcome to our site about vegan shopping,  <a href="http://vegangrocerylist.com">VeganGroceryList.com</a>.<br />
    <a href="https://twitter.com/vegangrocerylist">@vegangrocerylist</a> on Twitter.<br />
    

  </div>

  </body>
  
</html>