
<html lang="en">
  
  <head>
    <meta charset="UTF-8">
   
  </head>

  <body>

  <div class="kanu">

    Hi! <br /> 
    Welcome to our site that is designed <br /> 
    to help you save money and come up with the best vegan  grocery list.<br /> 
    Discover meals from leading chefs, bloggers and your friends and community.<br />  
      <a href="http://vegangrocerylist.com">VeganGroceryList.com</a>.<br />
    <a href="https://twitter.com/vegangrocerylist">@vegangrocerylist</a> on Twitter.<br />
    

  </div>

  </body>
  
</html>