<figure>
  <img src="http://i.imgur.com/3tff7ax.jpg">
  <div class="contact">
    <a href="" class="tw"></a>
    <a href="https://www.facebook.com/kate.williams.18400?fref=ts&ref=br_tf" class="fb"></a>
    <a href="" class="gp"></a>
    <a href="mailto:williams.katherineadele@gmail.com" class="ma"></a>
  </div>
</figure>

<figure>
  <img src="http://i.imgur.com/C4LcHin.jpg">
  <div class="contact">
    <a href="" class="tw"></a>
    <a href="https://www.facebook.com/phillip.son85?fref=ts" class="fb"></a>
    <a href="" class="gp"></a>
    <a href="mailto:philson3@gmail.com" class="ma"></a>
  </div>
</figure>

<figure>
  <img src="http://i.imgur.com/zDsUa1W.jpg">
  <div class="contact">
    <a href="https://twitter.com/JChipouras" class="tw"></a>
    <a href="https://www.facebook.com/john.chipouras" class="fb"></a>
    <a href="https://plus.google.com/u/1/108794712858091339209/posts" class="gp"></a>
    <a href="mailto:chipouras@gmail.com" class="ma"></a>
  </div>
</figure>