<figure>
  <img src="http://i.imgur.com/3tff7ax.jpg">
  <div class="contact">
    <a href="" class="tw"></a>
    <a href="" class="fb"></a>
    <a href="" class="gp"></a>
    <a href="" class="ma"></a>
  </div>
</figure>

<figure>
  <img src="http://i.imgur.com/C4LcHin.jpg">
  <div class="contact">
    <a href="" class="tw"></a>
    <a href="" class="fb"></a>
    <a href="" class="gp"></a>
    <a href="" class="ma"></a>
  </div>
</figure>

<figure>
  <img src="http://i.imgur.com/zDsUa1W.jpg">
  <div class="contact">
    <a href="" class="tw"></a>
    <a href="" class="fb"></a>
    <a href="" class="gp"></a>
    <a href="" class="ma"></a>
  </div>
</figure>