
<div class="focus">
  <span class="letter">v</span>
  <span class="letter">e</span>
  <span class="letter">g</span>
  <span class="letter">a</span>
  <span class="letter">n</span>
</div>
<div class="img-vignette"></div>
<div class="bg-img"></div>
<div class="bg-img-blur"></div>