<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="list_form">
        <%= render 'shared/list_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Latest Grocery Lists Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
  </div>
<% else %>
<!DOCTYPE html>
<html>
  <head>
    
  </head>
  
<div class="focus">
  <span class="letter">v</span>
  <span class="letter">e</span>
  <span class="letter">g</span>
  <span class="letter">a</span>
  <span class="letter">n</span>
  <p><span class="letter"><%= link_to "Sign up", signup_path, class: "btn btn-lg btn-clear" %> </span></p>
</div>

<div class="img-vignette"></div>
<div class="bg-img"></div>
<div class="bg-img-blur"></div>

</html>
<% end %>